fastapi[all]
uvicorn[standard]
python-dotenv
transformers
torch
sentence-transformers
faiss-cpu
chromadb
pydantic
fasttext
requests
beautifulsoup4
lxml
whispercpp
pytesseract
pdfminer.six
streamlit
twilio
